@use '@styles/colors.scss' as *;
@use '@styles/typo.scss' as *;

.Message {
  position: fixed;
  bottom: 50px;
  left: 50px;
  background: $color-evening-sky;
  border-radius: 15px;
  width: 350px;
  padding: 20px 40px 20px 20px;
  overflow: hidden;
  transition: opacity 300ms cubic-bezier(0.17, 0.04, 0.5, 0.94);
  z-index: 90;
}

.title {
  text-transform: capitalize;
  height: 1em;
  margin-bottom: 10px;
}

.content {
  color: $color-winter-sky;
}

.close {
  height: 1em;
  position: absolute;
  cursor: pointer;
  padding: 3px;
  top: 20px;
  right: 20px;
}

.closed {
  opacity: 0;
}

.open {
  opacity: 1;
}
