@use '../../../styles/colors.scss' as *;

.Modal {
  background-color: $color-dusk-sky;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 480px;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(100, 100, 100, 0.8);
}

.x {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $color-polar-bear;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}
