@use '../../styles/typo.scss' as *;

.sidebar {
  padding-right: 15px;
}

.main {}

.pageHeader {
  margin-bottom: 17px;
  @extend %font-h2;
}

.bandsList {
  display: grid;
  grid-template-columns: repeat(3, minmax(25px, 1fr));
  grid-gap: 18px 15px;
  grid-auto-flow: row;
}

.bandItem {
}
