.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.small {
  width: 70px;
  height: 70px;
}

.medium {
  width: 125px;
  height: 125px;
}

.large {
  width: 300px;
  height: 300px;
}

.round {
  border-radius: 100%;
}
