.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.tiny {
  width: 26px;
  height: 26px;
}

.small {
  width: 45px;
  height: 45px;
}

.medium {
  width: 65px;
  height: 65px;
}

.large {
  width: 300px;
  height: 300px;
}

.round {
  border-radius: 100%;
}
