@use '../../../styles/colors.scss' as *;
@use '../../../styles/typo.scss' as *;

.EntityRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
}

.label {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small {
  .label {
    max-width: 175px;
  }
}

.medium {
  padding: 20px 15px;
}
