@use '@usm/styles/colors.scss' as *;
@use '@usm/styles/utils.scss' as *;
@use '@usm/styles/typo.scss' as *;
@use '@usm/styles/layout.scss' as *;

.Landing {
  background-color: $color-empty-sky;

  @include media-query(mobile tablet) {
    text-align: center;
  }
}

.tri1 {
  position: absolute;
  right: 0;
  top: 600px;

  svg {
    width: 250px;
    height: 250px;
  }
}

.tri3 {
  position: absolute;
  left: 0;
  top: 1350px;

  svg {
    width: 250px;
    height: 250px;
  }
}

* + .section {
  @include media-query(laptop monitor) {
    margin-top: 65px;
  }
}

.section:not(:last-child) {
  @include media-query(laptop monitor) {
    margin-bottom: 200px;
  }

  @include media-query(mobile tablet) {
    margin-bottom: 80px;
  }
}

.section {
  .grid2 {
    row-gap: 60px;
    align-items: center;
  }
}

.brandedDropJambots {
  background-color: $color-empty-sky;
  background-image: linear-gradient(
      180deg,
      $gradient-top 50px,
      $color-empty-sky 500px,
      transparent 800px
    ),
    linear-gradient(90deg, $color-evening-sky 1px, transparent 1px),
    linear-gradient(0deg, $color-evening-sky 1px, transparent 1px);
  background-repeat: repeat, repeat, repeat;
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-position-x: 0, 0, 0;
  margin-bottom: 220px;
  padding-bottom: 220px;
  border-bottom: 2px solid $color-sassy;
  color: $color-taffy;

  @include media-query(mobile tablet) {
    margin-bottom: 60px;
    padding-bottom: max(60px, 16%);
  }
}

.jambot2Image {
  width: 105%;
  margin-left: -20px;
}

.logo {
  align-self: center;
  text-align: center;
}

.logoImg {
  width: 420px;
  @include media-query(mobile tablet) {
    width: 100%;
  }
}

.traitsImage {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.faq {
  margin-bottom: 40px;
}

.roadcrew {
  display: grid;
  column-gap: 80px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-top: 6rem;

  @include media-query(tablet mobile) {
    grid-auto-flow: dense;
    row-gap: 40px;
  }
}

.crewLink {
  color: $color-lavish;

  a {
    color: inherit;
  }
}

.musicalTraits,
.characterTraits {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 250px;
}

.characterTraits {
  row-gap: 6px;
}

.musicalTraits {
  row-gap: 10px;
}

.gridFull,
.grid2 {
  row-gap: 200px;

  @include media-query(tablet mobile) {
    row-gap: 80px;
  }
}

.gridFull > * {
  grid-column: 2 / -2;

  @include media-query(tablet mobile) {
    grid-column: 1 / -1;
  }
}

.grid2 {
  grid-auto-flow: row;
  z-index: 1;
}

.grid2 > :nth-child(odd) {
  grid-column: 2 / 10;

  @include media-query(laptop) {
    grid-column: 2 / 6;
  }

  @include media-query(tablet mobile) {
    grid-column: 1 / -1;
  }
}

.grid2 > :nth-child(even) {
  grid-column: 12 / -2;

  @include media-query(laptop) {
    grid-column: 7 / -2;
  }

  @include media-query(tablet mobile) {
    grid-column: 1 / -1;
  }
}

.subhead {
  color: $color-sassy;
  @extend %font-subhead;
}
