@use '../../../styles/colors.scss' as *;
@use '../../../styles/typo.scss' as *;

.Button {
  position: relative;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  padding: 20px 57px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  @extend %font-body;

  .class:after:empty {
    content: '\200b';
  }
}

.wide {
  width: 150px;
  @extend %font-small;
}

.primary {
  background-color: $color-usm-yellow;
  color: $color-night-sky;
}

.secondary {
  background-color: $color-dolpin-blue;
}

.minimal {
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid $color-dolpin-blue;
  color: $color-dolpin-blue;
}

.disabled {
  pointer-events: none;
  background-color: $color-winter-swim;
  color: $color-night-sky;
}

.fullWidth {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
