@use '../../../styles/colors.scss' as *;
@use '../../../styles/typo.scss' as *;

.Button {
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 19px 55px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  @extend %font-body;

  .class:after:empty {
    content: '\200b';
  }
}

.wide {
  width: 150px;
  @extend %font-small;
}

.slim {
  padding-top: 18px;
  padding-bottom: 18px;
}

.fullWidth {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.withImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 15px;
  padding: 10px 25px;

  &.slim {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.primary {
  background-color: $color-usm-yellow;
  color: $color-night-sky;
}

.secondary {
  background-color: $color-dolpin-blue;
  color: $color-polar-bear;
}

.minimal {
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid $color-dolpin-blue;
  color: $color-dolpin-blue;
}

.disabled {
  pointer-events: none;
  background-color: $color-winter-swim;
  color: $color-night-sky;
}

.content {
  max-width: 100px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
