@use '@usm/styles/colors.scss' as *;
@use '@usm/styles/layout.scss' as *;
@use '@usm/styles/typo.scss' as *;

.App {
  height: 100%;
  background-color: $color-dusk;
  background-image: linear-gradient(180deg, $color-dusk 0%, $color-empty-sky 70%);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: 0 100%;
  min-width: $app-width-min;
  position: relative;
  overflow: hidden;
}

.header {
  background-color: $color-empty-sky;
  z-index: 2;
  position: relative;
}

.body {
  margin: 56px auto 240px;
  padding: 0 40px;
}

.section {
  &:not(:last-child) {
    border-bottom: 1px solid $color-evening-sky;
    margin-bottom: 80px;
    padding-bottom: 80px;
  }
}

.callout {
  background-color: $color-evening-sky;
  border: 2px solid $color-dusk;
  border-radius: 6px;
  color: $color-lavish;
  margin-top: 10px;
  margin-bottom: 60px;
  padding: 18px 25px;
  @extend %font-small;

  & a {
    color: currentcolor;
  }
}

.accountInfo {
  margin-bottom: 8px;
}

.accountAddress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;

  & > :first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.accountBalance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
}

.addFunds {
  cursor: pointer;
}

.assetsGrid {
  grid-auto-flow: row;
}

.uploadCol {
  grid-column: 2/10;
}

.summaryCol {
  grid-column: 11/-1;
}

.footer {
  background-color: $color-empty-sky;
  position: sticky;
  top: 100vh;
}
