@use '../../../styles/colors.scss' as *;
@use '../../../styles/typo.scss' as *;

.SiteFooter {
  background-color: $color-dolpin-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 300px;
}

.Header {
  @extend %font-h1;
  margin-bottom: 15px;
}

.text {
  @extend %font-h3;
  margin-bottom: 100px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 25px;
}
