.NewDrop {
  padding-top: 60px;
  position: relative;
}

.hero {
  position: absolute;
  top: -55px;
  left: -100px;
  width: 800px;
  min-height: 700px;
  background-image: url(@usm/images/hero_jambot3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}
