.Avatar {
  grid-column: 2 / 12;
  background-image: url('@usm/assets/img/hero_jambot3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}

.BidBox {
  padding-top: 60px;
  grid-column: 12 / 24;
}
