.SiteHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 55px;
}

.topNav {
  margin-right: auto;
}

.artistSelector {
  justify-self: end;
  margin-right: 18px;
}

.networkConnect {}
