@use '@usm/styles/colors.scss' as *;

.AuctionContainer {
  color: $color-polar-bear;
  grid-auto-rows: 1fr;
}

.nft {
  padding-top: 120px;
  grid-column: 2 / 13;

  a:hover {
    color: $color-polar-bear;
  }
}

.nftImage {
  width: 547px;
  height: 547px;

  img {
    box-shadow: 0 4px 20px $color-void;
    height: auto;
  }
}

.nftAuction {
  padding-top: 60px;
  grid-column: 13 / 24;
  z-index: 1;
}
