@use '@usm/styles/colors.scss' as *;

.Landing {
  background-image: linear-gradient(180deg, $color-dusk 50px, $color-evening-sky 400px, transparent 1000px);
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position-x: 0, 0;  
  padding-bottom: 220px;
}

.hero2Bg {
  background-image: url(@usm/images/hero_jambot2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -110px;  
}

.faq {
  margin-bottom: 40px;
}

.roadcrew {
  display: flex;
  justify-content: space-between;
  column-gap: 120px;
  margin-top: 6rem;
}