@use '../../../styles/colors.scss' as *;
@use '../../../styles/typo.scss' as *;

.ThumbCard {
}
.image {
  img {
    width: 260px;
    height: 260px;
    border-radius: 20px;
  }
}

.name {
  @extend %font-h2;
  color: $color-old-towel;
  margin-top: 20px;
  margin-left: 10px;
}

.description {
  @extend %font-body;
  margin-left: 10px;
}
