$hero_height: 560px;
$hero_width: 912px;

.ComingSoon {
  position: relative;
  width: 100%;
  height: $hero_height;
  padding-top: 80px;
}

.stamp {
  margin-bottom: 60px;
}

.callout {
  margin-bottom: 25px;
}

.heroBg {
  position: absolute;
  top: 0;
  right: -850px;
  width: $hero_width;
  min-height: $hero_height;
  background-image: url(@usm/images/hero_jambot1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}
