@use '@usm/styles/colors.scss' as *;
@use '@usm/styles/layout.scss' as *;
@use '@usm/styles/typo.scss' as *;
@use '../../styles/styles.scss' as *;

.App {
  height: 100%;
  background-image: linear-gradient(180deg, transparent, $bg-color 70%);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: 0 100%;
  min-width: $app-width-min;
  position: relative;
}

.header {
  background-color: $bg-color;
  z-index: 2;
  position: relative;
}

.footer {
  background-color: $bg-color;
  position: sticky;
  top: 100vh;
}

.tooltips {
  background-color: transparent !important;
  background-image: url('@usm/assets/img/tooltip.svg') !important;
  background-repeat: no-repeat !important;
  border: none !important;
  padding: 5px 0 17px !important;
  width: 117px !important;
  color: $color-taffy !important;
  text-transform: capitalize !important;
  text-align: center !important;

  @extend %font-mini-strong;

  &::before,
  &::after {
    all: initial !important;
  }
}
