@use '../../../styles/colors.scss' as *;
@use '../../../styles/typo.scss' as *;

.Pillbox {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.muted {
  color: $color-winter-sky;
}

.padded {
  padding: 23px 22px;
}

.withBackground {
  background-color: $color-dusk-sky;
}

.image {
  margin-bottom: 10px;
}

.headers {
  margin-bottom: 20px;
}

.subject {
  color: $color-old-towel;
  margin-bottom: 5px;
  @extend %font-h4;
}

.header {
  @extend %font-h2;
}

.subHeader {
  @extend %font-h3;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  margin-top: auto;
}
