@use '@styles/colors.scss' as *;

.LandingArtistOnly {
  display: contents;
}

.token_mint {
  grid-column-start: 1;
  grid-column-end: 13;
}

.mint_hero {
  grid-column-start: 15;
  grid-column-end: end;
}

.pending_intro_text {
  grid-column-start: 1;
  grid-column-end: 13;
}

.pending_intro_hero {
  grid-column-start: 15;
  grid-column-end: end;
}

.lfg_intro_hero {
  grid-column-start: 1;
  grid-column-end: 13;
}

.lfg_intro_text {
  grid-column-start: 15;
  grid-column-end: end;
}

.onboarding_scroller {
  margin-top: 200px;
  grid-column-start: 1;
  grid-column-end: end;
}

.roadmap_item {
  grid-column-start: 1;
  grid-column-end: end;
  margin-bottom: 25px;  
}

.faq_item {
  grid-column-start: 1;
  grid-column-end: end;
  margin-bottom: 25px;
}

.preview_artist_features {
  grid-column-start: 1;
  grid-column-end: 6;
}

.preview_artist_hero {
  grid-column-start: 8;
  grid-column-end: 17;
}

.preview_artist_card {
  grid-column-start: 17;
  grid-column-end: 24;
}

.find_band {
  grid-column-start: 18;
  grid-column-end: end;
}

.band_hero {
  grid-column-start: 1;
  grid-column-end: 11;
}

.mint_track {
  grid-column-start: 11;
  grid-column-end: end;
}
