.auctionRowItem {
  border: 1px solid red;
  padding: 8px;
  margin-bottom: 16px;
}

.addresses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4px;
}

.auctionTokens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
