@use '@styles/colors.scss' as *;

.Landing {
  display: contents;
}

.intro_text {
  grid-column-start: 1;
  grid-column-end: 13;
}

.intro_hero {
  grid-column-start: 15;
  grid-column-end: end;
}

.onboarding_scroller {
  margin-top: 200px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.faq_section {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 130px;

  > * {
    margin-bottom: 25px;
  }
}

.artist_hero {
  grid-column-start: 1;
  grid-column-end: 11;
}

.artist_card {
  grid-column-start: 11;
  grid-column-end: 18;
}

.find_band {
  grid-column-start: 18;
  grid-column-end: end;
}

.band_hero {
  grid-column-start: 1;
  grid-column-end: 11;
}

.mint_track {
  grid-column-start: 11;
  grid-column-end: end;
}
