@use '@styles/colors.scss' as *;

.Paginate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

.item {
  svg {
    height: 25px;
    width: 25px;
  }

  &:hover {
    cursor: pointer;
  }
}

.disabled {
  svg {
    color: $color-evening-sky;
  }
}
