@use '@styles/typo.scss' as *;

.InfoText {
  position: relative;
  display: inline-block;

  &:hover > .onlyShowOnHover {
    display: block;
  }
}

.content {
  position: absolute;
  top: 0;
  right: -320px;
  @extend %font-small;
}

.onlyShowOnHover {
  width: 300px;
  display: none;
}
