@use 'reset-css' as *;
@use './colors.scss' as *;
@use './typo.scss' as *;
@use './core.scss' as *;

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: $color-polar-bear;
  @extend %bg-grid;
  @extend %font-body;
}
