// USM Color Palette
$color-usm-yellow: #eff25e;
$color-dolpin-blue: #5d67c7;
$color-old-towel: #83a0ff;
$color-winter-sky: #9592c1;
$color-evening-sky: #4a476e;
$color-dusk-sky: #2d2c45;
$color-night-sky: #212032;

// Obligatory
$color-polar-bear: #ffffff;
$color-lights-out: #000000;

// Contextual Colors Only
$color-winter-swim: #696c8f;
$color-summer-swim: #f2f3a4;
$color-morning-swim: #828bdb;

$color-warn: #ffc737;
$color-ok: #26ca7b;
$color-error: #ff4689;
