@use 'reset-css' as *;
@use './colors.scss' as *;
@use './typo.scss' as *;

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $color-night-sky;
  background-image: linear-gradient(180deg, transparent, $color-night-sky 90%),
    linear-gradient(90deg, rgba(110, 110, 110, 0.1) 1px, transparent 1px),
    linear-gradient(0deg, rgba(110, 110, 110, 0.1) 1px, transparent 1px);
  background-repeat: no-repeat, repeat, repeat;
  background-size: 100%, 30px 30px, 30px 30px;
  background-position-x: 0, 0, 0;
  color: $color-polar-bear;
  min-height: 100%;
  @extend %font-body;
}
