@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

$font-dosis: 'Dosis', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-normal: 400;
$font-bold: 700;
