.TestA {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: row;
}

.item:nth-child(14) {
  width: 20px;
  // margin-left: -50px;
  // margin-right: 50px;
  // grid-column-start: 2;
  // grid-column-end: 5;
  // grid-row-start: 2;
  // grid-row-end: span 6;
}
